@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
/* @import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap"); */

@tailwind base;
@tailwind components;
@tailwind utilities;

.theme-transition * {
  transition:
    background-color 300ms ease,
    color 300ms ease,
    border-color 300ms ease;
}

@layer base {
  :root {
    --background: 0 0% 98.8235%;
    --foreground: 227.5862 50.8772% 11.1765%;
    --card: 0 0% 98.0392%;
    --card-foreground: 227.5862 50.8772% 11.1765%;
    --popover: 0 0% 100%;
    --popover-foreground: 227.5862 50.8772% 11.1765%;
    --primary: 223.6364 100% 59.0196%;
    --primary-foreground: 0 0% 100%;
    --secondary: 227.5862 50.8772% 11.1765%;
    --secondary-foreground: 0 0% 100%;
    --muted: 0 0% 100%;
    --muted-foreground: 227.5862 50.8772% 11.1765%;
    --accent: 0 0% 100%;
    --accent-foreground: 223.6364 100% 59.0196%;
    --destructive: 16.3366 100% 60.3922%;
    --destructive-foreground: 0 0% 100%;
    --border: 0 5.8824% 90%;
    --input: 0 0% 80%;
    --ring: 222.7751 100% 59.0196%;
    --chart-1: 223.6364 100% 59.0196%;
    --chart-2: 179.7073 100% 40.1961%;
    --chart-3: 61.8848 100% 62.549%;
    --chart-4: 166.8908 100% 46.6667%;
    --chart-5: 1.629 100% 56.6667%;
    --sidebar: 0 0% 98.0392%;
    /* --sidebar-width: 16rem;
    --sidebar-width-icon: 4rem; */
    --sidebar-foreground: 227.5862 50.8772% 11.1765%;
    --sidebar-primary: 223.6364 100% 59.0196%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 0 0% 100%;
    --sidebar-accent-foreground: 223.6364 100% 59.0196%;
    --sidebar-border: 0 0% 100%;
    --sidebar-ring: 222.7751 100% 59.0196%;
    --font-sans: Open Sans, sans-serif;
    --font-serif: Georgia, serif;
    --font-mono: Menlo, monospace;
    --radius: 1.3rem;
    --shadow-x: -50px;
    --shadow-y: 2px;
    --shadow-blur: 0px;
    --shadow-spread: -50px;
    --shadow-opacity: 0;
    --shadow-color: #2e6aff;
    --shadow-2xs: -50px 2px 0px -50px hsl(222.7751 100% 59.0196% / 0);
    --shadow-xs: -50px 2px 0px -50px hsl(222.7751 100% 59.0196% / 0);
    --shadow-sm:
      -50px 2px 0px -50px hsl(222.7751 100% 59.0196% / 0),
      -50px 1px 2px -51px hsl(222.7751 100% 59.0196% / 0);
    --shadow:
      -50px 2px 0px -50px hsl(222.7751 100% 59.0196% / 0),
      -50px 1px 2px -51px hsl(222.7751 100% 59.0196% / 0);
    --shadow-md:
      -50px 2px 0px -50px hsl(222.7751 100% 59.0196% / 0),
      -50px 2px 4px -51px hsl(222.7751 100% 59.0196% / 0);
    --shadow-lg:
      -50px 2px 0px -50px hsl(222.7751 100% 59.0196% / 0),
      -50px 4px 6px -51px hsl(222.7751 100% 59.0196% / 0);
    --shadow-xl:
      -50px 2px 0px -50px hsl(222.7751 100% 59.0196% / 0),
      -50px 8px 10px -51px hsl(222.7751 100% 59.0196% / 0);
    --shadow-2xl: -50px 2px 0px -50px hsl(222.7751 100% 59.0196% / 0);
    --tracking-normal: 0em;
    --spacing: 0.25rem;
  }

  .dark {
    --background: 0 0% 0%;
    --foreground: 0 0% 100%;
    --card: 0 0% 5.8824%;
    --card-foreground: 0 0% 85.098%;
    --popover: 0 0% 0%;
    --popover-foreground: 0 0% 100%;
    --primary: 223.5849 100% 58.4314%;
    --primary-foreground: 0 0% 100%;
    --secondary: 0 0% 100%;
    --secondary-foreground: 227.5862 50.8772% 11.1765%;
    --muted: 0 0% 9.4118%;
    --muted-foreground: 229.4118 6.8826% 51.5686%;
    --accent: 225.2632 100% 11.1765%;
    --accent-foreground: 223.5849 100% 58.4314%;
    --destructive: 16.3366 100% 60.3922%;
    --destructive-foreground: 0 0% 100%;
    --border: 232.5 9.5238% 16.4706%;
    --input: 228.8136 57.2816% 20.1961%;
    --ring: 222.7751 100% 59.0196%;
    --chart-1: 223.6364 100% 59.0196%;
    --chart-2: 179.7073 100% 40.1961%;
    --chart-3: 61.8848 100% 62.549%;
    --chart-4: 166.8908 100% 46.6667%;
    --chart-5: 1.629 100% 56.6667%;
    --sidebar: 0 0% 5.8824%;
    --sidebar-foreground: 0 0% 85.098%;
    --sidebar-primary: 222.7751 100% 59.0196%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 225.2632 100% 11.1765%;
    --sidebar-accent-foreground: 223.5849 100% 58.4314%;
    --sidebar-border: 225 32.4324% 29.0196%;
    --sidebar-ring: 222.7751 100% 59.0196%;
    --font-sans: Open Sans, sans-serif;
    --font-serif: Georgia, serif;
    --font-mono: Menlo, monospace;
    --radius: 1.3rem;
    --shadow-x: -50px;
    --shadow-y: 2px;
    --shadow-blur: 0px;
    --shadow-spread: -50px;
    --shadow-opacity: 0;
    --shadow-color: #2e6aff;
    --shadow-2xs: -50px 2px 0px -50px hsl(222.7751 100% 59.0196% / 0);
    --shadow-xs: -50px 2px 0px -50px hsl(222.7751 100% 59.0196% / 0);
    --shadow-sm:
      -50px 2px 0px -50px hsl(222.7751 100% 59.0196% / 0),
      -50px 1px 2px -51px hsl(222.7751 100% 59.0196% / 0);
    --shadow:
      -50px 2px 0px -50px hsl(222.7751 100% 59.0196% / 0),
      -50px 1px 2px -51px hsl(222.7751 100% 59.0196% / 0);
    --shadow-md:
      -50px 2px 0px -50px hsl(222.7751 100% 59.0196% / 0),
      -50px 2px 4px -51px hsl(222.7751 100% 59.0196% / 0);
    --shadow-lg:
      -50px 2px 0px -50px hsl(222.7751 100% 59.0196% / 0),
      -50px 4px 6px -51px hsl(222.7751 100% 59.0196% / 0);
    --shadow-xl:
      -50px 2px 0px -50px hsl(222.7751 100% 59.0196% / 0),
      -50px 8px 10px -51px hsl(222.7751 100% 59.0196% / 0);
    --shadow-2xl: -50px 2px 0px -50px hsl(222.7751 100% 59.0196% / 0);
  }
}

/* Thin scrollbar */
.scrollbar-thin {
  scrollbar-width: thin; /* Firefox */
  /* scrollbar-color: #cac8c8 #000000; */
  scrollbar-color: var(--foreground) var(--background);
}

/* Chrome, Edge, Safari */
.scrollbar-thin::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

.scrollbar-thin::-webkit-scrollbar-thumb {
  background-color: #888;
  border-radius: 9999px;
}

.scrollbar-thin::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

@layer base {
  * {
    @apply border-border scrollbar-thin;
    font-family: "Quicksand", sans-serif;
    /* font-family: "Urbanist", sans-serif; */
  }
  body {
    @apply bg-background text-foreground;
    font-family: "Quicksand", sans-serif;
  }
}
